.main-app {
	width: 380px;
	height: 420px;
	font-family: "Times New Roman", Times, serif;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s all;
    padding: 6px;
    margin-bottom: 6px;
    color: #757575;
    font-size: 16px;
    cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: #424242;
}

.info {
    background-color: #00C853;
    color: white;
    padding: 10px;
}

.warning {
    background-color: #C62828;
    color: white;
    padding: 10px;
}

.notes {
    margin-top: 12px;
}

.logout {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
